footer {
  width: 100%;
  bottom: 0;
  /* margin-top: 200px; */
  padding: 120px 0;
  background-color: #262626;
  color: white;
}
.container-footer-ul-li {
  display: flex;
  justify-content: space-between;
}

.container-footer-ul-li ul {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
}
